<h1>All addresses you have added</h1>
<%= link_to admin_posts_url, method: :get , class: "btn btn-secondary mb-2" do %>
  <i class="fa fa-arrow-left"></i>
<% end %>
<table class="table table-hover">
  <thead class="table-dark">
    <tr class="no-hover"> 
      <th>Address</th>
      <th>City</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% if @locations != [] %>
      <% for location in @locations %>
        <tr>
          <td><%= location.full_address %></td>
          <td><%= location.city %></td>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= link_to "Show", {:action => 'show', :id => location.id}, :class => "btn btn-primary btn-sm" %>
            <%= link_to "Edit", {:action => 'edit', :id => location.id}, :class => "btn btn-primary btn-sm" %>
            <%= link_to "Add new Restaurant",{:controller => 'restaurants', :action => 'new',:id =>location.id, :address => location.full_address}, :class => "btn btn-primary btn-sm" %>
            <%= link_to "Destroy", {:action => 'destroy', :id => location.id}, data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-danger btn-sm mt-2"%></td>
        </tr>
      <% end %>
    <% else %>
      <p>No locations added</p>  
    <% end %>
  </tbody>
</table>

<p><%= link_to "New Location", new_admin_location_path,:class => "btn btn-primary" %></p>
