<h1>Search Result</h1>  
<% if !@restaurants.blank? %>
  <ul class="list-group w-50"> 
    <li class="list-group-item bg-primary text-white"><span class="float-left ml-4">Restaurant</span>
      <span class="float-right">Rating</span>
    </li>
    <% for i in 0..@restaurants.size-1 do %> 
      <li class="list-group-item list-group-item-action"><%= link_to @restaurants[i].name,{:action => 'show_restaurant',:id => @restaurants[i].id}, :class => "login show" %>
        <% if @reviews[i].count != 0 %>
          <span class="star-rating float-right" id= "star" data-score= <%= @reviews[i].sum/@reviews[i].count %> ></span>
        <% else %>  
          <span class="float-right">No Rating </span>
        <% end %>
      </li>
    <% end %>
  </ul> 
<% elsif @nearby.blank? %>
  <% if !@result.blank? %>
    <h3>You will get your desired item in Restaurant</h3>
    <ul class="list-group w-50">
      <li class="list-group-item bg-primary text-white"><span class="float-left ml-4">Restaurant</span>
        <span class="float-right">Rating</span>
      </li>
      <% for i in 0..@result.size-1 do %>
        <li class="list-group-item list-group-item-action"><%= link_to @result[i].name, show_restaurant_url(id: @result[i].id),:class => "login show" %>
          <% if @reviews[i].count != 0 %>
            <span class="star-rating float-right" id= "star" data-score= <%= @reviews[i].sum/@reviews[i].count %> ></span>
          <% else %>  
            <span class="float-right">No Rating </span>
          <% end %>
        </li>
      <% end %> 
    </ul> 
  <% else %>
    <h3>Sorry nothing similar like your search</h3> 
  <%end%> 
<% elsif @restaurants_from_loc != [] %>
  <h3> Restaurants near your place </h3>
  <ul class="list-group w-50">
    <li class="list-group-item bg-primary text-white"><span class="float-left ml-4">Restaurant</span>
      <span class="float-right">Rating</span>
    </li>
    <% for i in 0..@restaurants_from_loc.size-1 do %>
      <li class="list-group-item list-group-item-action"><%= link_to @restaurants_from_loc[i].name,show_restaurant_url(id: @restaurants_from_loc[i].id) ,:class => "login show"%>
        <% if @reviews[i].count != 0 %>
          <span class="star-rating float-right" id= "star" data-score= <%= @reviews[i].sum/@reviews[i].count %> ></span>
        <% else %>  
          <span class="float-right">No Rating </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>Nothing Found </h3>
<% end %>


<script>
  $(document).ready(function() {
   $('.star-rating').raty({
   readOnly: true,
   score: function() {
     return $(this).attr('data-score');
   },
   path: '/assets/'
   });
});
 
</script>
